.center {
    text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center-half {
    width: 500px;
    margin-left: 300px;
}
