/* .center {
    text-align: center;
    color: brown;
} */
.colore{
    text-align: center;
    color: tomato;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center-half {
    width: 50px;
    margin-left: 300px;
}
